.famous{
    height: 125vh;
    background: linear-gradient(to right, hsl(133, 100%, 92%), whitesmoke);
    display: flex;
    gap: 0;
}
.famous-left{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
.curry{
    width: 1vh;
    height: 2vh;
    margin-right: 150px;
    align-items: self-start;
}
.curry2{
    margin-top: 100px;
}
.curry img{
    padding-right: 20px;
}
.famous-right{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 180px;
    line-height: 1.1;
}
.famous-left img{
    height: 100vh;
    width: 100vh;
}
.famous-left{
    height: 90vh;
    width: 50vh;
    margin-top: 100px;
    margin-left: 20px;
    position: relative;
}
.famous-right h1{
    font-size: 11vh;
    font-weight: 600;
    gap: 0;
    color: rgb(48 8 0);
}
.red{
    color: #FF4141;
}
.famous-right p{
    color: rgb(48 8 0);
    font-size: 6vh;
    font-weight: 400;
}
.btn{
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.btn1{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 210px;
    height: 90px;
    border-radius: 75px;
    margin-top: 30px;
    background: #FF4141;
    color: white;
    font-size: 22px;
    font-weight: 700;
}