.Contact{
    margin-top: 15vh;
}
.right-contact input{
    height: 52px;
    width: 100%;
    padding-left: 20px;
    border: 1px solid #c9c9c9;
    color: #5c5c5c;
    font-size: 18px;
    margin: 10px;
    border-radius: 15px;
}
.msg{
    height: 100px;
}
.left-contact{
    height: 80vh;
    width: 80%;
    padding: 30px;
}

.contact-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.right-contact{
    align-items: end;
    justify-content: end;
    margin-right: 80px;

}
.Contact{
    display: flex;
    flex-direction: column;
    text-align: center;
}
.btn-btn-btn{
    width: 41%;
    height: 52px;
    color: white;
    background: #ff4141;
    border: none;
    font-size: 24px;
    font-weight: 500;
    cursor: pointer;
    margin-left: 150px;
    border-radius: 15px;
}
.headings{
    margin-top: 40px;
    color: rgb(74, 42, 42);
}
.headings h2{
    font-size: 68px;
}
.headings h4{
    margin-top: 30px;
}
@media (max-width:1200px) {
    .Contact{
        display: flex;
        flex-direction: column;
    }
    .contact-container{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
    }

}
@media (max-width:768px) {
    .Contact{
        display: flex;
        flex-direction: column;
    }
    .contact-container{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
    }

}
@media (max-width:480px) {
    .Contact{
        display: flex;
        flex-direction: column;
    }
    .contact-container{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
    }

}
