.cancelation{
    height: 40vh;
    width: 100%;
    background: rgb(241, 127, 56);
    color: whitesmoke;
    position: relative;
    padding: 20px;
}
.details2{
    align-items: center;
    font-size: x-large;
    font-weight: 400;
    margin-top: 10vw;
    height: 50vh;
    width: 35%;
    padding: 20px;
    border-radius: 15px;
    color: black;
}
.details2 h2{
    font-size: 40px;
    font-weight: 600;
}
.details2 .icon {
    margin-right: 15px;
}
.detailedInfo1{
    display: flex;
    flex-direction: row;
}
.small-container2 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px; 
    width: 400px;
    border-radius: 50%;
    background: rgb(255, 237, 213);
}
.container-about2{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px; /* This makes the container take full height of the viewport */
    width: 500px;
    border-radius: 50%;
    background: rgb(255, 244, 236);
    margin: 70px;
    margin-top: 15vw;
}
.btn11{
    display: flex;
    flex-direction: row;
    background: #b4b3b333;
    font-size: x-large;
    color: #000000;
    height: 10vh;
    width: 15vw;
    border-radius: 15px;
    padding: 20px;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}
@media (max-width: 1200px) {
    .reserve{
        display: flex;
        flex-direction: column;
    }
    .small-container2 {
        display: none;
    }

    .container-about2 {
        height: 400px;
        width: 400px;
        margin: 50px;
        margin-top: 80px;
    }

    .cancelation {
        height: auto;
    }

    .details2 {
        width: 45%;
        height: auto;
    }

    .btn11 {
        height: 8vh;
        width: 20vw;
        font-size: large;
    }
    .buttons{
        display: flex;
        flex-direction: row;
    }
}

@media (max-width: 768px) {
    .reserve{
        display: flex;
        flex-direction: column;
    }
    .small-container2 {
        display: none;
    }

    .container-about2 {
        height: 300px;
        width: 300px;
        margin: 30px;
        margin-top: 60px;
    }

    .details2 {
        background-color: white;
        width: 90%;
        margin-top: 50px;
    }

    .btn11 {
        height: 6vh;
        width: 30vw;
        font-size: medium;
    }
    .buttons{
        display: flex;
        flex-direction: row;
    }
}

@media (max-width: 480px) {
    .reserve{
        display: flex;
        flex-direction: column;
    }
    .small-container2 {
        display: none;
    }

    .container-about2 {
        height: 250px;
        width: 250px;
        margin: 20px;
        margin-top: 40px;
    }

    .details2 {
        width: 100%;
        margin-top: 30px;
    }

    .btn11 {
        height: 5vh;
        width: 40vw;
        font-size: small;
    }
    .buttons{
        display: flex;
        flex-direction: row;
    }
}