.loginsignup {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    background: #00000090;
    display: grid;
  }
  
  .loginsignup-container {
    place-self: center;
    width: max(23vw, 330px);
    color: #808080;
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 25px 30px;
    border-radius: 8px;
    font-size: 14px;
    animation: fadeIn 0.5s;
  }
  
  .login-popup-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: black;
  }
  
  .loginsignupfields {
    display: flex;
    flex-direction: column;
    gap: 29px;
    margin-top: 30px;
  }
  
  .loginsignupfields input {
    height: 72px;
    width: 100%;
    padding-left: 20px;
    border: 1px solid #c9c9c9;
    color: #5c5c5c;
    font-size: 18px;
    margin: 5px;
  }
  
  .loginsignup-container button {
    width: 100%;
    height: 10vh;
    color: white;
    background: #ff4141;
    margin-top: 30px;
    border: none;
    font-size: 24px;
    font-weight: 500;
    cursor: pointer;
    border-radius: 8px;
  }
  
  .loginsignup-login span {
    color: #ff4141;
    font-weight: 600;
  }
  
  .loginsignup-agree {
    display: flex;
    align-items: center;
    margin-top: 25px;
    gap: 20px;
    color: #5c5c5c;
    font-size: 18px;
    font-weight: 500;
  }
  
  .account {
    font-size: 20px;
    font-weight: 400;
  }
  
  .account span {
    color: #ff4141;
  }
  
  .account:hover {
    cursor: pointer;
  }
  