.cancelation{
    height: 40vh;
    width: 100%;
    background: rgb(241, 127, 56);
    color: whitesmoke;
    position: relative;
    padding: 20px;
}
.details2{
    align-items: center;
    font-size: x-large;
    font-weight: 400;
    margin-top: 10vw;
    height: 50vh;
    width: 35%;
    padding: 20px;
    border-radius: 15px;
    color: black;
}
.details2 h2{
    font-size: 40px;
    font-weight: 600;
}
.details2 .icon {
    margin-right: 15px;
}
.detailedInfo1{
    display: flex;
    flex-direction: row;
}
.small-container2 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px; 
    width: 400px;
    border-radius: 50%;
    background: rgb(255, 237, 213);
}
.container-about2{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px; /* This makes the container take full height of the viewport */
    width: 500px;
    border-radius: 50%;
    background: rgb(255, 244, 236);
    margin: 70px;
    margin-top: 15vw;
}
.btn11{
    display: flex;
    flex-direction: row;
    background: #b4b3b333;
    font-size: x-large;
    color: #000000;
    height: 10vh;
    width: 15vw;
    border-radius: 15px;
    padding: 20px;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}
@media (max-width: 1200px) {
    .circular-image {
        width: 250px;
        height: 250px;
    }

    .small-container1 {
        height: 350px;
        width: 350px;
    }

    .container-about1 {
        height: 400px;
        width: 400px;
        margin: 50px;
        margin-top: 80px;
    }

    .reserve {
        height: auto;
        margin: 100px;
    }

    .confirmation h1 {
        font-size: 50px;
    }

    .details2 {
        width: 45%;
        height: auto;
    }

    .btn12, .btn13 {
        height: 8vh;
        width: 20vw;
        font-size: large;
    }
}

@media (max-width: 768px) {
    .detailedInfo{
        display: flex;
        flex-direction: column;
    }
    .container-about1 {
        display: none;
    }
    .div-1{
        font-size: 20px;
    }

    .confirmation h1 {
        font-size: 25px;
    }

    .details2 {
        width: 60%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 0;
    }

    .btn12, .btn13 {
        height: 6vh;
        width: 25vw;
        font-size: medium;
    }

    .buttons {
        display: flex;
        flex-direction: row;
        gap: 15px;
        margin-left: 40px;
    }
}

@media (max-width: 480px) {
    .container-about1 {
        display: none;
        width: 150px;
        height: 150px;
    }

    .small-container1 {
        height: 250px;
        width: 250px;
    }

    .container-about1 {
        height: 250px;
        width: 250px;
        margin: 20px;
        margin-top: 40px;
    }

    .confirmation h1 {
        font-size: 30px;
    }

    .details2 {
        width: 100%;
    }

    .btn12, .btn13 {
        height: 5vh;
        width: 40vw;
        font-size: small;
    }
}